@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');

header{
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  background: linear-gradient(to right, purple, blue);
  border-radius: 10px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #CCC;
}

body{
  background-color: #CCC;
}

main{
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, purple, blue);
  border-radius: 10px;
  color: #CCC;
}

.rps-selection{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 2rem;
}

.rps{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 50px;
  margin: auto 10px;
}

.rps:hover{
  transform: scale(1.5);
}

#score{
  padding: 10px;
  margin: 10px auto;
  font-size: 1.5em;
  font-weight: 700;
  color: #CCC;
  background: linear-gradient(to right, purple, blue);
  border-radius: 10px;
  width: fit-content;
  text-align: center;
}

#d-Win{
  background: linear-gradient(to right, purple, blue); /* Set the linear gradient background */
  text-align: center; /* Center the content of the div horizontally */
  display: flex; /* Set the display property to flex */
  justify-content: center; /* Center the div horizontally using flexbox */
  align-items: center; /* Center the div vertically using flexbox */
  height: 100px; /* Set the height of the div */
  border-radius: 10px;
  padding: 10px;
}

#results {
  color: #CCC;
  font-weight: 700;
}

#play-again{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  border: solid 2px black;
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  color: black;
  cursor: pointer;
  background: green;
}